/.svn/

/Build_Android/
/Build_Windows/
/Build_Android/
/Build_Windows/
/Build_Xcode/
/Build_AOS/
/Build_IOS/

/AssetBundle/

/Library/
/Logs/*
!/Logs/Packages-Update.log
/obj/
/Temp/

/UserSettings/

/.vs/
/.vscode/
/*.csproj
/*.sln
/.vsconfig

/Screenshot/
/Recordings/

/_Test/

~$*.xlsm
~$*.xlsx
